/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.mt-1 {
  margin-top: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

html, body {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: "Roboto", "SF Pro Text", "Noto Sans TC";
}

.container {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 376px) {
  .container {
    max-width: 376px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.block {
  display: block;
}

.banner {
  height: 870px;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 376px) {
  .banner {
    margin-bottom: 40px;
    height: 480px;
  }
}
.banner .bannerImg {
  position: relative;
  height: 100%;
  background-image: url(../img/index1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner .container {
  position: relative;
  height: 870px;
}
@media (max-width: 376px) {
  .banner .container {
    height: 480px;
  }
}
.banner .container .banner-text {
  width: 445px;
  position: absolute;
  right: 0px;
  top: 295px;
  color: #FFFFFF;
  padding: 15px;
}
.banner .container .banner-text h2 {
  font-size: 40px;
  line-height: 60px;
}
.banner .container .banner-text p {
  font-size: 24px;
  line-height: 36px;
}
.banner .container .banner-text .btn {
  width: 350px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #FFFFFF;
}
.banner .container .banner-text .btn:hover {
  background-color: #f0f0f0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 376px) {
  .banner .container .banner-text {
    width: 345px;
    position: relative;
    top: 101px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner .container .banner-text h2 {
    width: 345px;
    font-size: 32px;
    line-height: 48px;
  }
  .banner .container .banner-text p {
    width: 345px;
    font-size: 20px;
    line-height: 30px;
  }
  .banner .container .banner-text .btn {
    width: 345px;
    width: 345px;
    height: 60px;
    font-size: 28px;
    line-height: 42px;
  }
}

.content {
  margin-bottom: 60px;
}
@media (max-width: 376px) {
  .content {
    margin-bottom: 0px;
  }
}

.content-list {
  max-width: 1110px;
}
.content-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-list .item .intro {
  width: 555px;
  height: 555px;
}
.content-list .item .intro h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bolder;
}
.content-list .item .intro p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.content-list .item .intro-l {
  width: 555px;
  height: 1080px;
  background-color: #fff;
}
.content-list .item .intro-l ul {
  width: 345px;
  height: auto;
}
.content-list .item .intro-l ul li {
  margin-bottom: 52px;
}
.content-list .item .intro-l ul li h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
  margin-bottom: 4px;
}
.content-list .item .intro-l ul li p {
  font-size: 16px;
  line-height: 24px;
}
.content-list .item .intro-l ul li .btn {
  margin-top: 60px;
  width: 350px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid #000000;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #000000;
}
.content-list .item .intro-l ul li .btn:hover {
  background-color: #E0E0E0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content-list .item .leftSectionMoveRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 110px;
}
.content-list .item .rightSectionMoveLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 110px;
}
.content-list .item .prodImg {
  width: 555px;
  height: 555px;
}
.content-list .item .img1 {
  background-image: url(../img/index2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content-list .item .img2 {
  background-image: url(../img/index3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content-list .item .img3 {
  background-image: url(../img/index4.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.content-list .item .prodImg-l {
  width: 555px;
  height: 1080px;
}
.content-list .item .img4 {
  background-image: url(../img/index5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 376px) {
  .content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-list .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 32px;
  }
  .content-list .item .intro {
    width: 345px;
    height: 230px;
  }
  .content-list .item .intro p {
    margin-bottom: 8px;
  }
  .content-list .item .intro-l {
    width: 345px;
    height: 800px;
    background-color: #fff;
    margin-bottom: 0;
  }
  .content-list .item .intro-l ul {
    width: 345px;
  }
  .content-list .item .intro-l ul li {
    margin-bottom: 20px;
  }
  .content-list .item .intro-l ul li .btn {
    margin-top: 0;
    width: 345px;
    height: 60px;
  }
  .content-list .item .leftSectionMoveRight {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .content-list .item .rightSectionMoveLeft {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .content-list .item .prodImg {
    width: 345px;
    height: 350px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .content-list .item .prodImg img {
    width: 345px;
  }
  .content-list .item .prodImg-l {
    width: 345px;
    height: 680px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .content-list .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.intro *, .intro-l * {
  width: 350px;
}

.check-more-link {
  font-size: 16px;
  line-height: 24px;
  color: #AC8A46;
}

.promotion {
  background-color: #E0E0E0;
  margin-bottom: 60px;
}
.promotion .promoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.promotion .promoList li img {
  width: 350px;
  height: 540px;
}
.promotion .promoList li h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
}
.promotion .promoList li p {
  font-size: 16px;
  line-height: 24px;
}
.promotion .promoList li p span {
  color: #8D8D8D;
  margin-left: 8px;
  text-decoration: line-through;
}
.promotion .promoList li .soldOut {
  position: relative;
}
.promotion .promoList li .soldOut::before {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 540px;
  color: #FFFFFF;
  content: "Sold out";
  z-index: 5;
}
.promotion .promoList li .soldOut::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  z-index: 3;
}
@media (max-width: 376px) {
  .promotion .promoList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 32px;
    padding-bottom: 36px;
  }
  .promotion .promoList li {
    margin: 0;
  }
  .promotion .promoList li img {
    width: 345px;
    height: 350px;
  }
  .promotion .promoList li .mb-16 {
    margin-bottom: 4px;
  }
  .promotion .promoList li:nth-child(1) {
    margin-bottom: 32px;
  }
  .promotion .promoList li:nth-child(2) {
    margin-bottom: 24px;
  }
  .promotion .promoList .soldOut {
    position: relative;
  }
  .promotion .promoList .soldOut::before {
    width: 345px;
    height: 100%;
    font-size: 24px;
    line-height: 100%;
  }
  .promotion .promoList .soldOut::after {
    width: 345px;
    height: 100%;
  }
}

@media (max-width: 376px) {
  .idea.mb-60 {
    margin-bottom: 40px;
  }
}

.idea {
  margin-bottom: 60px;
}
.idea .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.idea .container .prodImg {
  width: 730px;
  height: 520px;
  background-image: url(../img/index9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.idea .container .description {
  width: 350px;
}
.idea .container .description h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bolder;
}
.idea .container .description h3 {
  font-size: 20px;
  line-height: 30px;
}
.idea .container .description p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 376px) {
  .idea .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .idea .container .prodImg {
    width: 345px;
    height: 520px;
  }
  .idea .container .description {
    width: 345px;
  }
  .idea .container .description h2 {
    margin-top: 8px;
  }
  .idea .container .description p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (max-width: 376px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-bar {
  position: relative;
  height: 56px;
}
@media (max-width: 376px) {
  .nav-bar {
    padding-left: 20px;
    padding-right: 0;
  }
}
.nav-bar .logo {
  float: left;
  height: 56px;
}
.nav-bar .logo img {
  margin-top: 9px;
  margin-bottom: 9px;
}
.nav-bar .menu {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-bar .menu li a {
  font-size: 20px;
  line-height: 56px;
  color: #8D8D8D;
  padding-left: 16px;
  padding-right: 16px;
}
.nav-bar .menu li:hover {
  background-color: #8D8D8D;
}
.nav-bar .menu li:hover a {
  color: #FFFFFF;
}
@media (max-width: 376px) {
  .nav-bar .menu {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1.5s;
    transition: max-height 1.5s;
    z-index: 100;
    position: absolute;
    top: 57px;
    left: 0px;
    right: 0px;
    background-color: #707070;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .menu li {
    float: none;
    border-top: 1px solid #FFFFFF;
    margin-left: 0;
  }
  .nav-bar .menu li a {
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    color: #FFFFFF;
  }
  .nav-bar .menu li a:hover {
    background-color: #8D8D8D;
    opacity: 0.5;
  }
}
.nav-bar .cart_btn {
  float: right;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
  color: #8D8D8D;
}
.nav-bar .cart_btn:hover {
  background-color: #8D8D8D;
  color: #FFFFFF;
}
@media (max-width: 376px) {
  .nav-bar .cart_btn {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-bar .cart_btn .cartRemove {
    display: none;
  }
}

.menu.burgar_btn li {
  display: none;
}

.burgar_btn-show .burgar_btn {
  max-height: 300px;
}
.burgar_btn-show .burgar_btn li {
  display: block;
}

.burgar_btn {
  float: right;
  color: #8D8D8D;
}
.burgar_btn .fa-bars {
  font-size: 32px;
  display: none;
}
@media (max-width: 376px) {
  .burgar_btn {
    display: block;
    float: right;
    line-height: 56px;
  }
  .burgar_btn .fas {
    display: block;
    line-height: 56px;
    margin-left: 12px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.qtyInCart {
  display: none;
}
@media (max-width: 376px) {
  .qtyInCart {
    display: inline-block;
    width: 16px;
    height: 13px;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    background-color: #916000;
    border-radius: 7px;
    color: #FFFFFF;
    -webkit-transform: translate(-5px, -12px);
            transform: translate(-5px, -12px);
  }
}

.brand-bar {
  background-color: #916000;
}
.brand-bar .brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brand-bar .brand-list li {
  margin-right: 28px;
}
.brand-bar .brand-list li a {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media (max-width: 376px) {
  .brand-bar {
    display: none;
  }
}

.subscription {
  height: 600px;
  background-image: url(../img/index10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.subscription .container {
  padding-top: 312px;
}
.subscription .container h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bolder;
  color: #8D8D8D;
  margin-bottom: 20px;
}
.subscription .container .fillEmail {
  width: 350px;
  height: 60px;
  background-color: #916000;
  overflow: hidden;
}
.subscription .container .fillEmail:hover {
  background-color: #6C4700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.subscription .container .fillEmail input {
  width: 219px;
  height: 60px;
  font-size: 15px;
  line-height: 30px;
  padding: 15px;
  border: 2px solid #916000;
  outline: none;
}
.subscription .container .fillEmail .btn-sendMail {
  width: 131px;
  height: 60px;
  font-size: 16px;
  line-height: 24px;
  padding: 21px 26px 20px 27px;
  color: #FFFFFF;
  background-color: #916000;
}
.subscription .container .fillEmail .btn-sendMail:hover {
  background-color: #6C4700;
  border-color: #6C4700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 376px) {
  .subscription {
    width: 375px;
    height: 600px;
    background-size: 160%;
    background-position: left;
  }
  .subscription .fillEmail {
    width: 345px;
    height: 60px;
  }
}

.footer {
  background-color: #916000;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .left img {
  padding-top: 21px;
  padding-bottom: 21px;
}
.footer .container .left p {
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  color: #FFFFFF;
}
.footer .container .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .right ul li {
  padding: 25px 18px;
}
.footer .container .right ul li a {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.footer .container .right ul li:hover {
  background-color: #fff;
}
.footer .container .right ul li:hover a {
  color: #916000;
}
@media (max-width: 376px) {
  .footer .right {
    display: none;
  }
}