/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: "Roboto", "SF Pro Text", "Noto Sans TC";
}

.container {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 376px) {
  .container {
    max-width: 376px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.block {
  display: block;
}

.content {
  padding-top: 80px;
  padding-bottom: 60px;
}
@media (max-width: 376px) {
  .content {
    padding-top: 42px;
    padding-bottom: 40px;
  }
}
.content .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .product-list .product-card {
  margin-bottom: 58px;
}
.content .product-list .product-card .prodImg {
  width: 255px;
  height: 255px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 376px) {
  .content .product-list .product-card {
    margin-bottom: 30px;
  }
  .content .product-list .product-card .prodImg {
    width: 165px;
    height: 165px;
  }
}
.content .product-list .product-card .img1 {
  background-image: url(../img/products1.jpg);
}
.content .product-list .product-card .img2 {
  background-image: url(../img/index6.jpg);
  background-position: bottom;
}
.content .product-list .product-card .img3 {
  background-image: url(../img/products3.jpg);
  background-position: 0 25%;
}
.content .product-list .product-card .img4 {
  background-image: url(../img/products4.jpg);
  background-position: 0 25%;
}
.content .product-list .product-card .img5 {
  background-image: url(../img/products5.jpg);
  background-position: 0 25%;
}
.content .product-list .product-card .img6 {
  background-image: url(../img/index4.jpg);
  background-position: left;
}
.content .product-list .product-card .img7 {
  background-image: url(../img/products7.jpg);
}
.content .product-list .product-card .img8 {
  background-image: url(../img/products8.jpg);
}
.content .product-list .product-card .img9 {
  background-image: url(../img/index3.png);
}
.content .product-list .product-card .img10 {
  background-image: url(../img/products10.jpg);
}
.content .product-list .product-card .img11 {
  background-image: url(../img/products11.jpg);
}
.content .product-list .product-card .img12 {
  background-image: url(../img/products12.jpg);
}
.content .product-list .product-card h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
  margin-top: 2px;
}
.content .product-list .product-card p {
  font-size: 16px;
  line-height: 24px;
}
.content .product-list .product-card p span {
  text-decoration: line-through;
  padding-left: 8px;
  color: #8D8D8D;
}
.content .product-list .product-card .mark {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #916019;
}
.content .product-list .product-card .mark .heart {
  margin-right: 10px;
}
@media (max-width: 376px) {
  .content .product-list .product-card h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .content .product-list .product-card p {
    margin-top: 2px;
  }
  .content .product-list .product-card .mark .heart {
    margin-right: 11px;
  }
}
.content .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.content .pagination li {
  font-size: 20px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.content .pagination li a {
  color: #000000;
}
.content .pagination li:first-child a {
  color: #AC8A46;
  text-decoration: underline;
}
@media (max-width: 376px) {
  .content .pagination {
    margin-top: 16px;
  }
}

@media (max-width: 376px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-bar {
  position: relative;
  height: 56px;
}
@media (max-width: 376px) {
  .nav-bar {
    padding-left: 20px;
    padding-right: 0;
  }
}
.nav-bar .logo {
  float: left;
  height: 56px;
}
.nav-bar .logo img {
  margin-top: 9px;
  margin-bottom: 9px;
}
.nav-bar .menu {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-bar .menu li a {
  font-size: 20px;
  line-height: 56px;
  color: #8D8D8D;
  padding-left: 16px;
  padding-right: 16px;
}
.nav-bar .menu li:hover {
  background-color: #8D8D8D;
}
.nav-bar .menu li:hover a {
  color: #FFFFFF;
}
@media (max-width: 376px) {
  .nav-bar .menu {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1.5s;
    transition: max-height 1.5s;
    z-index: 100;
    position: absolute;
    top: 57px;
    left: 0px;
    right: 0px;
    background-color: #707070;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .menu li {
    float: none;
    border-top: 1px solid #FFFFFF;
    margin-left: 0;
  }
  .nav-bar .menu li a {
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    color: #FFFFFF;
  }
  .nav-bar .menu li a:hover {
    background-color: #8D8D8D;
    opacity: 0.5;
  }
}
.nav-bar .cart_btn {
  float: right;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
  color: #8D8D8D;
}
.nav-bar .cart_btn:hover {
  background-color: #8D8D8D;
  color: #FFFFFF;
}
@media (max-width: 376px) {
  .nav-bar .cart_btn {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-bar .cart_btn .cartRemove {
    display: none;
  }
}

.menu.burgar_btn li {
  display: none;
}

.burgar_btn-show .burgar_btn {
  max-height: 300px;
}
.burgar_btn-show .burgar_btn li {
  display: block;
}

.burgar_btn {
  float: right;
  color: #8D8D8D;
}
.burgar_btn .fa-bars {
  font-size: 32px;
  display: none;
}
@media (max-width: 376px) {
  .burgar_btn {
    display: block;
    float: right;
    line-height: 56px;
  }
  .burgar_btn .fas {
    display: block;
    line-height: 56px;
    margin-left: 12px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.qtyInCart {
  display: none;
}
@media (max-width: 376px) {
  .qtyInCart {
    display: inline-block;
    width: 16px;
    height: 13px;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    background-color: #916000;
    border-radius: 7px;
    color: #FFFFFF;
    -webkit-transform: translate(-5px, -12px);
            transform: translate(-5px, -12px);
  }
}

.brand-bar {
  background-color: #916000;
}
.brand-bar .brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brand-bar .brand-list li {
  margin-right: 28px;
}
.brand-bar .brand-list li a {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media (max-width: 376px) {
  .brand-bar {
    display: none;
  }
}

.subscription {
  height: 600px;
  background-image: url(../img/index10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.subscription .container {
  padding-top: 312px;
}
.subscription .container h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bolder;
  color: #8D8D8D;
  margin-bottom: 20px;
}
.subscription .container .fillEmail {
  width: 350px;
  height: 60px;
  background-color: #916000;
  overflow: hidden;
}
.subscription .container .fillEmail:hover {
  background-color: #6C4700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.subscription .container .fillEmail input {
  width: 219px;
  height: 60px;
  font-size: 15px;
  line-height: 30px;
  padding: 15px;
  border: 2px solid #916000;
  outline: none;
}
.subscription .container .fillEmail .btn-sendMail {
  width: 131px;
  height: 60px;
  font-size: 16px;
  line-height: 24px;
  padding: 21px 26px 20px 27px;
  color: #FFFFFF;
  background-color: #916000;
}
.subscription .container .fillEmail .btn-sendMail:hover {
  background-color: #6C4700;
  border-color: #6C4700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 376px) {
  .subscription {
    width: 375px;
    height: 600px;
    background-size: 160%;
    background-position: left;
  }
  .subscription .fillEmail {
    width: 345px;
    height: 60px;
  }
}

.footer {
  background-color: #916000;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .left img {
  padding-top: 21px;
  padding-bottom: 21px;
}
.footer .container .left p {
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  color: #FFFFFF;
}
.footer .container .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .right ul li {
  padding: 25px 18px;
}
.footer .container .right ul li a {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.footer .container .right ul li:hover {
  background-color: #fff;
}
.footer .container .right ul li:hover a {
  color: #916000;
}
@media (max-width: 376px) {
  .footer .right {
    display: none;
  }
}